body{
    background-color: lavender;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.weather-app {
background: white;
max-width: 500px;
margin: 30px auto;
padding: 30px;
border-radius: 15px;
}
.weather-emoji {
    width: 90px;
    height: 90px;
    margin-top: 22px;
    line-height: 90px;
}
.weather-app-container {
    display: flex;

}
.icon {
    display: block;
    width: 90px;
    height: 90px;
}
