body {
    background: rgb(239, 237, 247);
    font-family: Georgia, "Times New Roman", Times, serif;
    justify-self: unset;
}

.weather-app {
    background: white;
    max-width: 500px;
    margin: 30px auto;
    margin-bottom: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(65, 50, 100, 0.08);
}

.search-button {
    background: #885df1;
    color: white;
    border: none;
    padding: 15px 0;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
}

.city-input {
    border-radius: 6px;
    display: inline-block;
    width: 300px;
    height: 50px;
    appearance: none;
    background: #fff;
    background-color: #fff;
    border-color: #fff;
}

.weather-temp-container {
    display: flex;
    justify-content: space-between;
}

.weather-temp {
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
}


.emoji {
    position: relative;
    font-size: 30px;
}

.weather-unit {
    margin-top: 6px;
    font-size: 28px;
}

.weather-forecast {
    display: flex;
    justify-content: space-around;
   
}

.weather-forecast-date {
text-align: center;
color: rgba(39, 33, 66, 0.4);
font-size: 16px;
line-height: 20px;
margin-bottom: 10px;
}

.weather-forecast-emoji {
    font-size: 48px;
    text-align: center;
}

.weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

.weather-color {
    color: red;
}

.description {
    color: gray;
}

.high-temperature {
    color: red;
}

.low-temperature {
    color: pink;
}