body {
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    font-family: Georgia, "Times New Roman", Times, serif;
    justify-self: flex-start;
    min-height: 100vh;
}

.weather-app {
    background: #cef1ea;
    max-width: 700px;
    margin: 30px auto;
    margin-bottom: auto;
    padding: 30px;
    border-radius: 15px;
    box-shadow: rgba(65, 50, 100, 0.08);
}

.search-button {
    background: #f1a6bb;
    color: white;
    border: none;
    padding: 15px 0;
    height: 50px;
    width: 150px;
    border-radius: 12px;
    line-height: 20px;
    font-weight: 700;
    font-size: 15px;
}
.h1 {
    font-family: "Danfo", "serif";
}
.city-input {
    border-radius: 6px;
    display: inline-block;
    width: 300px;
    height: 50px;
    appearance: none;
    background: #fff;
    background-color: #fff;
    border-color: #fff;
}

.weather-details {
    display: block;
}


.weather-temp-container {
    display: flex;
    justify-content: space-between;
}

.weather-temp {
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
}


.weather-icon {
    position: relative;
    font-size: 30px;
    margin-top: 20px;
}

.weather-unit {
    margin-top: 21px;
    font-size: 28px;
}



.weather-forecast {
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.weather-forecast-icon {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;

}

.weather-forecast-temperatures {
    text-align: center;
    color: #f65282;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.weather-forecast-temperature {
    padding: 0 10px;
}

.humidity,
.wind-speed {
    color: red;
}

.weather-details {
    color: gray;
}

.high-temperature {
    color: #f0a5bc;
}

.low-temperature {
    color: pink;
}

#weather-icon {
    display: flex;
}